@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
     padding: 0;
     margin: 0;
     font-family:"Poppins";
}

body {
     height: 80vh;
     background: linear-gradient(
          to right,
          #1A1A1A 0%,
          #1A1A1A 50%,
          #EEEEEE 50%,
          #EEEEEE 100%
     );
}

.lg1{
     height: 450px;
}

.mg {
     margin-top:150px
}